h
{
    color:black;
    
    text-align:center;
    text-shadow:2px 2px #FF0000;
    
    font-size:26pt;
}

p
{
    color:#000000;

    text-indent:50px;
    text-align:center;
    
    font-size:18pt;
}

p1
{
    color:#000000;

    font-size:10pt;
    font-style:italic;
}

a
{
    color:#0000ff;

    hover:#ff00ff;
    
    text-align:justify;
    text-decoration:none;
    text-shadow:2px 2px #000000;

    font-size:26pt;
    font-style:italic;
    font-weight:lighter;
}

body
{
    background-image:url(./media/gray.png);
    background-repeat: repeat-x;
    background-size:25% 30%;

    text-align:center;
    
    font-family:Monospace;
    font-size:20pt;
}

@media only screen and (orientation: landscape) {
    body {
        background-color: black;
    }
}

video {
    width: 60%;
    height: 30%;
    position: buttom;
    z-index: 2;
    opacity: 0.5;
}

img {
    max-width: 100%;
    height: auto;
}
