h
{
    color:black;
    text-align:center;
    font-size:22pt;
}

p
{
    color:blue;
    text-align:center;
    font-size:18pt;
}

a
{
    color:red;
    font-size:10pt;
}

body
{
    background-image:url(./media/hijs.png);
    background-size: 100% 100%;
    text-align:center;
    color:white;
    font-size:20pt;
}
