$bgcolor1: lightblue;
$bgcolor2: #000000;
$bgcolor3: #00ff00;
$textcolor: darkblue;
$fontsize: 18px;

h {
    color: $bgcolor2;
}

p {
    color: $bgcolor3;
}

body {
    background-color: $bgcolor1;
    color: $textcolor;
    font-size: $fontsize;
}
